// Colors
$gray: #4d4d4d; //Оранжевый 
$bg:  #f6f6f6;
$secondary-color: #b9b9b9; //серый
$light-color: #f3af9d;	//прозрачно оранжевый
$white: white;

//container width
$desktopWidth: 980px;
$tabletWidth: 720px;