.footer{
	background-color: $light-color;

	&__inner{
		display: flex;
		justify-content: space-between;
		background-color: $primary-color;
		position: relative;
		padding: 35px 0;
		
		&:before{
			content: '';
			position: absolute;
			width: 10px;
			height: 100%;
			background-color:white;
			top: 0;
			right: 100%;
		}

		&:after{
			content: '';
			position: absolute;
			width: 10px;
			height: 100%;
			background-color:white;
			top: 0;
			left: 100%;
		}
	}
	&__col{

		flex-basis: 33.33333%;
		padding: 0 28px;
		color: white;
		font-size: 12px;
		text-align:left;

		&-title{
			@include regularBebas;
			text-align: left;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
			padding-bottom: 30px;
		}

		&-text{
			@include Helveticalight;
		}

		&-contact{
			display: flex;
			flex-direction: column;
			margin: 20px 0;
			a{
				color: #fff;
			}
		}

		&-twit{
			
			font-size: 12px;
			&:not(:last-child){
				margin-bottom: 20px;
			}
			.message{

				&__sender{
					color: #f3b29d;
				}
			}
			.time{
				margin-top: 10px;
				color: #f3b29d;
			}
		}
		>.social__nav{
			display: flex;
			li{
				margin-right: 5px;
				a{
					display:block;
					width: 30px;
					height: 31px;

					&.fb{
						background: url('../../images/social_sprites.png') -30px -0;
					}

					&.tw{
						background: url('../../images/social_sprites.png') -90px -0;
					}

					&.mail{
						background: url('../../images/social_sprites.png') -0 -0;
					}

					&.rss{
						background: url('../../images/social_sprites.png') -60px -0;
					}

					&.vmail{
						background: url('../../images/social_sprites.png') -120px -0;
					}
				}
			}
		}
		@include tablet{
			flex-basis:100%;	
			&:not(:last-child){
				display: none;
			}
		}
		@include mobile{
			flex-basis:100%;	
			&:not(:last-child){
				display: none;
			}
		}
	}
}

